<thead class="thead-light">
    <tr>
        <th>Date</th>
        <th>Diagnosis</th>
        <th>Medicines</th>
        <th>Remarks</th>
        <th>Photo</th>
        <th>Doctor</th>
    </tr>
</thead>
<tbody>
    {% for log in logs %}
    <tr>
        <td>{{ log[0] }}</td>
        <td>{{ log[1] }}</td>
        <td>{{ log[2] }}</td>
        <td>{{ log[3] }}</td>
        <td>
            {% if log[4] %}
                <a href="{{ url_for('static', filename='uploads/' + log[4]) }}" data-lightbox="log-{{ log[0] }}" data-title="Checkup on {{ log[0] }} by Dr. {{ log[5] }}">
                    <img src="{{ url_for('static', filename='uploads/' + log[4]) }}" width="80" class="cattle-photo rounded">
                </a>
            {% else %}
                No Photo
            {% endif %}
        </td>
        <td>{{ log[5] }}</td>
    </tr>
    {% endfor %}
</tbody>
